<div class="row" data-stat="points">
  <div class="col-md-2 col-md-offset-8 value"><%= points %></div>
</div>
<div class="row" data-stat="str">
  <div class="col-md-3">str</div>
  <div class="col-md-2 col-md-offset-5 value"><%= str %></div>
  <div class="col-md-2">
    <div class="btn-toolbar">
      <button class="btn btn-xs plus">
        <span class="glyphicon glyphicon-plus"></span>
      </button>
      <button class="btn btn-xs minus">
        <span class="glyphicon glyphicon-minus"></span>
      </button>
    </div>
  </div>
</div>
<div class="row" data-stat="dex">
  <div class="col-md-3">dex</div>
  <div class="col-md-2 col-md-offset-5 value"><%= dex %></div>
  <div class="col-md-2">
    <div class="btn-toolbar">
      <button class="btn btn-xs plus">
        <span class="glyphicon glyphicon-plus"></span>
      </button>
      <button class="btn btn-xs minus">
        <span class="glyphicon glyphicon-minus"></span>
      </button>
    </div>
  </div>
</div>
<div class="row" data-stat="con">
  <div class="col-md-3">con</div>
  <div class="col-md-2 col-md-offset-5 value"><%= con %></div>
  <div class="col-md-2">
    <div class="btn-toolbar">
      <button class="btn btn-xs plus">
        <span class="glyphicon glyphicon-plus"></span>
      </button>
      <button class="btn btn-xs minus">
        <span class="glyphicon glyphicon-minus"></span>
      </button>
    </div>
  </div>
</div>
<div class="row" data-stat="int">
  <div class="col-md-3">int</div>
  <div class="col-md-2 col-md-offset-5 value"><%= int %></div>
  <div class="col-md-2">
    <div class="btn-toolbar">
      <button class="btn btn-xs plus">
        <span class="glyphicon glyphicon-plus"></span>
      </button>
      <button class="btn btn-xs minus">
        <span class="glyphicon glyphicon-minus"></span>
      </button>
    </div>
  </div>
</div>
<div class="row" data-stat="wis">
  <div class="col-md-3">wis</div>
  <div class="col-md-2 col-md-offset-5 value"><%= wis %></div>
  <div class="col-md-2">
    <div class="btn-toolbar">
      <button class="btn btn-xs plus">
        <span class="glyphicon glyphicon-plus"></span>
      </button>
      <button class="btn btn-xs minus">
        <span class="glyphicon glyphicon-minus"></span>
      </button>
    </div>
  </div>
</div>
<div class="row" data-stat="cha">
  <div class="col-md-3">cha</div>
  <div class="col-md-2 col-md-offset-5 value"><%= cha %></div>
  <div class="col-md-2">
    <div class="btn-toolbar">
      <button class="btn btn-xs plus">
        <span class="glyphicon glyphicon-plus"></span>
      </button>
      <button class="btn btn-xs minus">
        <span class="glyphicon glyphicon-minus"></span>
      </button>
    </div>
  </div>
</div>
